<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta etiqueta requeridas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- link a la hoja de estilos -->
    <link rel="stylesheet" href="static/style.css">

    <!-- titulo -->
    <title>Bouncy ball</title>
</head>
<body>
    
    <!-- Espacio en el que va el juego -->
    <canvas id="game" width="650" height="450"> </canvas>

    <!-- Boton para regresar a la pagina de inicio -->
    <a href="/" class="btn-neon">
        Return home
    </a>

    <script src="static/game.js"></script>
</body>
</html>