<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta etiqueta requeridas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link a la hoja de estilos -->
    <link rel="stylesheet" href="static/index.css">

    <!-- titulo -->
    <title>Bouncy ball home</title>
</head>
<body>

    <!-- nombre del juego -->
    <h1>Bouncy Ball Game</h1>

    <!-- boton para ir a la pagina del juego -->
    <a href="/game" class="btn-neon">
        Start game
    </a>
</body>


</html>